In [105]:
import pandas as pd

df = pd.read_csv(r"D:\Guvi\Project\HealthAI\data\master_data.csv")
print(df.shape)
df.head()

(15757, 56)

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,04-01-2017,04-03-2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,04-01-2017,04-05-2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,04-01-2017,04-03-2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,04-01-2017,04-08-2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,04-01-2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0

In [106]:
print(df.columns.to_list())

['SNO', 'MRD No.', 'D.O.A', 'D.O.D', 'AGE', 'GENDER', 'RURAL', 'TYPE OF ADMISSION-EMERGENCY/OPD', 'month year', 'DURATION OF STAY', 'duration of intensive unit stay', 'OUTCOME', 'SMOKING', 'ALCOHOL', 'DM', 'HTN', 'CAD', 'PRIOR CMP', 'CKD', 'HB', 'TLC', 'PLATELETS', 'GLUCOSE', 'UREA', 'CREATININE', 'BNP', 'RAISED CARDIAC ENZYMES', 'EF', 'SEVERE ANAEMIA', 'ANAEMIA', 'STABLE ANGINA', 'ACS', 'STEMI', 'ATYPICAL CHEST PAIN', 'HEART FAILURE', 'HFREF', 'HFNEF', 'VALVULAR', 'CHB', 'SSS', 'AKI', 'CVA INFRACT', 'CVA BLEED', 'AF', 'VT', 'PSVT', 'CONGENITAL', 'UTI', 'NEURO CARDIOGENIC SYNCOPE', 'ORTHOSTATIC', 'INFECTIVE ENDOCARDITIS', 'DVT', 'CARDIOGENIC SHOCK', 'SHOCK', 'PULMONARY EMBOLISM', 'CHEST INFECTION']

In [107]:
meta_data = pd.read_csv(r"D:\Guvi\Project\HealthAI\data\meta_data.csv")

In [108]:
rename_dict =dict(zip(meta_data['Table_Heading'], meta_data['modified_as_column_name']))

In [109]:
df = df.rename(columns=rename_dict)

In [110]:
print(df.columns.tolist())

['serial_no', 'admission_no', 'date_of_admission', 'date_of_discharge', 'age', 'gender', 'residence_type', 'admission_type', 'admission_month_year', 'length_of_stay_days', 'icu_stay_days', 'outcome', 'smoking_status', 'alcohol_use', 'diabetes_mellitus', 'hypertension', 'coronary_artery_disease', 'prior_cardiomyopathy', 'chronic_kidney_disease', 'hemoglobin', 'total_leukocyte_count', 'platelet_count', 'glucose_level', 'urea_level', 'creatinine_level', 'bnp_level', 'raised_cardiac_enzymes', 'ejection_fraction', 'severe_anemia', 'anemia', 'stable_angina', 'acute_coronary_syndrome', 'st_elevation_myocardial_infarction', 'atypical_chest_pain', 'heart_failure', 'hf_reduced_ejection_fraction', 'hf_normal_ejection_fraction', 'valvular_heart_disease', 'complete_heart_block', 'sick_sinus_syndrome', 'acute_kidney_injury', 'cva_infarct', 'cva_bleed', 'atrial_fibrillation', 'ventricular_tachycardia', 'paroxysmal_supraventricular_tachycardia', 'congenital_heart_disease', 'urinary_tract_infection', 'neurocardiogenic_syncope', 'orthostatic_hypotension', 'infective_endocarditis', 'deep_vein_thrombosis', 'cardiogenic_shock', 'shock', 'pulmonary_embolism', 'chest_infection']

In [111]:
df.dtypes

serial_no                                   int64
admission_no                                int64
date_of_admission                          object
date_of_discharge                          object
age                                         int64
gender                                     object
residence_type                             object
admission_type                             object
admission_month_year                       object
length_of_stay_days                         int64
icu_stay_days                               int64
outcome                                    object
smoking_status                              int64
alcohol_use                                 int64
diabetes_mellitus                           int64
hypertension                                int64
coronary_artery_disease                     int64
prior_cardiomyopathy                        int64
chronic_kidney_disease                      int64
hemoglobin                                 object
total_leukocyte_count                      object
platelet_count                             object
glucose_level                              object
urea_level                                 object
creatinine_level                           object
bnp_level                                  object
raised_cardiac_enzymes                      int64
ejection_fraction                          object
severe_anemia                               int64
anemia                                      int64
stable_angina                               int64
acute_coronary_syndrome                     int64
st_elevation_myocardial_infarction          int64
atypical_chest_pain                         int64
heart_failure                               int64
hf_reduced_ejection_fraction                int64
hf_normal_ejection_fraction                 int64
valvular_heart_disease                      int64
complete_heart_block                        int64
sick_sinus_syndrome                         int64
acute_kidney_injury                         int64
cva_infarct                                 int64
cva_bleed                                   int64
atrial_fibrillation                         int64
ventricular_tachycardia                     int64
paroxysmal_supraventricular_tachycardia     int64
congenital_heart_disease                    int64
urinary_tract_infection                     int64
neurocardiogenic_syncope                    int64
orthostatic_hypotension                     int64
infective_endocarditis                      int64
deep_vein_thrombosis                        int64
cardiogenic_shock                           int64
shock                                       int64
pulmonary_embolism                          int64
chest_infection                             int64
dtype: object

In [112]:
df = df.drop(['date_of_admission', 'date_of_discharge'], axis=1)

In [113]:
(df == "EMPTY").sum().sum()

np.int64(840)

In [114]:
df.replace("EMPTY", 0, inplace=True)

In [115]:
# Define lab columns
lab_cols = [
    'hemoglobin',
    'total_leukocyte_count',
    'platelet_count',
    'glucose_level',
    'urea_level',
    'creatinine_level'
]

# Create mask for invalid lab values (NA or 0)
invalid_mask = (df[lab_cols].isna()) | (df[lab_cols] == 0)

# Drop rows where ANY lab value is invalid
df = df[~invalid_mask.any(axis=1)].reset_index(drop=True)

# Sanity check
print("Dataset shape after dropping invalid lab rows:", df.shape)

Dataset shape after dropping invalid lab rows: (14622, 54)

In [116]:
df.isnull().sum().sort_values(ascending=False)

bnp_level                                  7768
ejection_fraction                          1401
age                                           0
gender                                        0
serial_no                                     0
admission_no                                  0
admission_month_year                          0
length_of_stay_days                           0
icu_stay_days                                 0
outcome                                       0
smoking_status                                0
alcohol_use                                   0
diabetes_mellitus                             0
hypertension                                  0
coronary_artery_disease                       0
prior_cardiomyopathy                          0
chronic_kidney_disease                        0
hemoglobin                                    0
total_leukocyte_count                         0
platelet_count                                0
residence_type                                0
admission_type                                0
urea_level                                    0
glucose_level                                 0
creatinine_level                              0
raised_cardiac_enzymes                        0
severe_anemia                                 0
anemia                                        0
stable_angina                                 0
acute_coronary_syndrome                       0
st_elevation_myocardial_infarction            0
atypical_chest_pain                           0
heart_failure                                 0
hf_reduced_ejection_fraction                  0
hf_normal_ejection_fraction                   0
valvular_heart_disease                        0
complete_heart_block                          0
sick_sinus_syndrome                           0
acute_kidney_injury                           0
cva_infarct                                   0
cva_bleed                                     0
atrial_fibrillation                           0
ventricular_tachycardia                       0
paroxysmal_supraventricular_tachycardia       0
congenital_heart_disease                      0
urinary_tract_infection                       0
neurocardiogenic_syncope                      0
orthostatic_hypotension                       0
infective_endocarditis                        0
deep_vein_thrombosis                          0
cardiogenic_shock                             0
shock                                         0
pulmonary_embolism                            0
chest_infection                               0
dtype: int64

In [117]:
df = df.drop(['bnp_level',"ejection_fraction" ], axis=1)

In [118]:
import numpy as np

lab_cols = [
    "hemoglobin",
    "total_leukocyte_count",
    "platelet_count",
    "glucose_level",
    "urea_level",
    "creatinine_level"
]

df[lab_cols] = df[lab_cols].replace(r"^\s*$", np.nan, regex=True)

In [119]:
df[lab_cols] = df[lab_cols].apply(pd.to_numeric, errors="coerce")

In [120]:
df[lab_cols].dtypes

hemoglobin               float64
total_leukocyte_count    float64
platelet_count           float64
glucose_level            float64
urea_level               float64
creatinine_level         float64
dtype: object

In [121]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")
df[lab_cols] = imputer.fit_transform(df[lab_cols])

In [122]:
df[lab_cols].isna().sum()

hemoglobin               0
total_leukocyte_count    0
platelet_count           0
glucose_level            0
urea_level               0
creatinine_level         0
dtype: int64

In [123]:
df.isnull().sum().sum()

np.int64(0)

In [124]:
df.dtypes

serial_no                                    int64
admission_no                                 int64
age                                          int64
gender                                      object
residence_type                              object
admission_type                              object
admission_month_year                        object
length_of_stay_days                          int64
icu_stay_days                                int64
outcome                                     object
smoking_status                               int64
alcohol_use                                  int64
diabetes_mellitus                            int64
hypertension                                 int64
coronary_artery_disease                      int64
prior_cardiomyopathy                         int64
chronic_kidney_disease                       int64
hemoglobin                                 float64
total_leukocyte_count                      float64
platelet_count                             float64
glucose_level                              float64
urea_level                                 float64
creatinine_level                           float64
raised_cardiac_enzymes                       int64
severe_anemia                                int64
anemia                                       int64
stable_angina                                int64
acute_coronary_syndrome                      int64
st_elevation_myocardial_infarction           int64
atypical_chest_pain                          int64
heart_failure                                int64
hf_reduced_ejection_fraction                 int64
hf_normal_ejection_fraction                  int64
valvular_heart_disease                       int64
complete_heart_block                         int64
sick_sinus_syndrome                          int64
acute_kidney_injury                          int64
cva_infarct                                  int64
cva_bleed                                    int64
atrial_fibrillation                          int64
ventricular_tachycardia                      int64
paroxysmal_supraventricular_tachycardia      int64
congenital_heart_disease                     int64
urinary_tract_infection                      int64
neurocardiogenic_syncope                     int64
orthostatic_hypotension                      int64
infective_endocarditis                       int64
deep_vein_thrombosis                         int64
cardiogenic_shock                            int64
shock                                        int64
pulmonary_embolism                           int64
chest_infection                              int64
dtype: object

In [125]:
df_clean = df.copy()
df_clean.to_csv(r"D:\Guvi\Project\HealthAI\data\cleaned_data.csv")
df_clean = pd.read_csv(r"D:\Guvi\Project\HealthAI\data\cleaned_data.csv")